{{ if .Values.backend.enabled }}
{{ if .Values.backend.services.secret.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
{{ include "spaceone.labels" . | indent 4 }}
    helm.stargate.spaceone.dev/service: secret
  name: secret
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.backend.replicas }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      helm.stargate.spaceone.dev/service: secret
  template:
    metadata:
      annotations:
        spaceone.auto-deploy-flag: {{ include (print $.Template.BasePath "/backend/secret/secret-conf.yml") . | sha256sum }}
      labels:
{{ include "spaceone.labels" . | indent 8 }}
        helm.stargate.spaceone.dev/service: secret
    spec:
      terminationGracePeriodSeconds: {{ .Values.gracePeriod }}
      containers:
        - name: secret
          image: {{ .Values.backend.services.secret.image }}
          imagePullPolicy: {{ .Values.backend.imagePullPolicy }}
          ports:
            - containerPort: 50051
          volumeMounts:
            - name: secret-conf
              mountPath: /opt/spaceone/secret/config/secret.yml
              subPath: secret.yml
              readOnly: true
            - name: secret-secret
              mountPath: /opt/spaceone/secret/config/secret-secret.yml
              subPath: secret-secret.yml
              readOnly: true
            - name: log-volume
              mountPath: /logs
          livenessProbe:
            exec:
              command:
                - /bin/grpc_health_probe
                - -addr=127.0.0.1:50051
                - -service=secret
            initialDelaySeconds: 5
            failureThreshold: 3
            periodSeconds: 2
            successThreshold: 1
            timeoutSeconds: 1
#          readinessProbe:
#            exec:
#              command:
#                - /bin/grpc_health_probe
#                - -addr=127.0.0.1:50051
#                - -service=secret
#            initialDelaySeconds: 5
#            failureThreshold: 3
#            periodSeconds: 5
#            successThreshold: 2
#            timeoutSeconds: 1
          env:
            - name: SPACEONE_CONFIG_FILE
              value: /opt/spaceone/secret/config/secret.yml
      volumes:
        - name: secret-conf
          configMap:
            name: secret-conf
        - name: secret-secret
          secret:
            secretName: secret-secret
        - name: log-volume
          emptyDir: {}
{{ end }}
{{ end }}