# Default values for spaceone.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
installedBy:
  author: jinsu

#namePrefix: "{{ .Realease.Name }}"

gracePeriod: 3

initializer:
  image: spaceone/tester:latest

mongo:
  enabled: true
  initialize: true
  image: mongo
  replicas: 1
  imagePullPolicy: IfNotPresent
  username: mongouser
  password: mongopassword
  host: mongo
  port: 27017
  service:
    type: ClusterIP
    annotations:
      nil: nil
    ports:
      - name: mongo
        port: 27017
        targetPort: 27017
        protocol: TCP

redis:
  enabled: true
  image: redis
  imagePullPolicy: IfNotPresent
  host: redis
  port: 6379
  service:
    type: ClusterIP
    annotations:
      nil: nil
    ports:
      - name: redis
        port: 6379
        targetPort: 6379
        protocol: TCP
    

consul:
  enabled: true
  image: consul:1.7.3
  imagePullPolicy: IfNotPresent
  host: consul
  service:
    type: ClusterIP
    annotations:
      nil: nil
    ports:
      - name: http
        port: 80
        targetPort: 8500
        protocol: TCP

      - name: httpd
        port: 8500
        targetPort: 8500
        protocol: TCP

backend:
  enabled: true
  replicas: 1
  revisionHistoryLimit: 3
  labels:
  imagePullPolicy: IfNotPresent

  services:
    config:
      enabled: true
      image: spaceone/config:latest
      endpoint: config:50051
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    identity:
      enabled: true
      image: spaceone/identity:latest
      endpoint: identity:50051
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    inventory:
      enabled: true
      image: spaceone/inventory:latest
      endpoint: inventory:50051
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    inventoryWorker:
      enabled: true
      image: spaceone/inventory:latest
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    inventoryScheduler:
      enabled: true
      image: spaceone/inventory:latest
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    monitoring:
      enabled: true
      image: spaceone/monitoring:latest
      endpoint: monitoring:50051
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    plugin:
      enabled: true
      image: spaceone/plugin:latest
      endpoint: plugin:50051
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    repository:
      enabled: true
      image: spaceone/repository:latest
      endpoint: repository:50051
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    secret:
      enabled: true
      image: spaceone/secret:latest
      endpoint: secret:50051
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

      awsSecretManagerConnector:
        awsAccessKeyId:
        awsSecretAccessKey:
        regionName: ap-northeast-2

    statistics:
      enabled: true
      image: spaceone/statistics:latest
      endpoint: statistics:50051
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP

    statisticsScheduler:
      enabled: true
      image: spaceone/statistics:latest
      service:
        type: ClusterIP
        annotations:
          nil: nil
        ports:
          - name: grpc
            port: 50051
            targetPort: 50051
            protocol: TCP


frontend:
#  domain: root # 안먹힘
  enabled: true
  replicas: 1
  imagePullPolicy: IfNotPresent

  console:
    enabled: true
    image: spaceone/console:latest
    host: console
    service:
      type: ClusterIP
      annotations:
        nil: nil
      extraSpec:
        nil: nil
      ports:
        - name: http
          port: 80
          targetPort: 80
          protocol: TCP
        - name: https
          port: 443
          targetPort: 80
          protocol: TCP

    domainName:
      ref: config # hostname
      name: root # megazone

  # this service let you access to console through http://root by kubefwd
  root:
    enabled: true
    host: root
    service:
      type: ClusterIP
      annotations:
        nil: nil
      extraSpec:
        nil: nil
      ports:
        - name: http
          port: 80
          targetPort: 80
          protocol: TCP
        - name: https
          port: 443
          targetPort: 80
          protocol: TCP

  consoleApi:
    enabled: true
    endpoint: console-api
    protocol: http # https
    image: spaceone/console-api:latest
    service:
      type: ClusterIP
      annotations:
        nil: nil
      extraSpec:
        nil: nil
      ports:
        - name: http
          port: 80
          targetPort: 80
          protocol: TCP
        - name: https
          port: 443
          targetPort: 80
          protocol: TCP


supervisor:
  enabled: true
  imagePullPolicy: IfNotPresent
  supervisor:
    image: spaceone/supervisor:latest
    replicas: 1
    imagePullPolicy: IfNotPresent
    token: # yaml for TOKEN or TOKEN_INFO
      protocol: consul
      config:
        host: "{{ .Values.consul.host }}"
      uri: debug/supervisor/TOKEN
    plugin:
      imageRepository: pyengine
      
  kubectlProxy:
    image: spaceone/kubectl-proxy


#######
# Vault reference : https://www.vaultproject.io/docs/platform/k8s/helm/configuration
#######
#vault:
#  global:
#    enabled: true
#  server:
#    dev:
#      enabled: true
#  name: hello