{{ if .Values.redis.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "spaceone.labels" . | indent 4 }}
    helm.stargate.spaceone.dev/service: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      helm.stargate.spaceone.dev/service: redis
  template:
    metadata:
      labels:
{{ include "spaceone.labels" . | indent 8 }}
        helm.stargate.spaceone.dev/service: redis
    spec:
      terminationGracePeriodSeconds: {{ .Values.gracePeriod }}
      containers:
      - name: redis
        image: {{ .Values.redis.image }}
        imagePullPolicy: {{ .Values.mongo.imagePullPolicy }}
        ports:
        - containerPort: {{ .Values.redis.port }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-conf
  namespace: {{ .Release.Namespace }}
data:
  redis.conf: |


---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "spaceone.labels" . | indent 4 }}
    run: redis
spec:
  type: NodePort
  ports:
  - port: {{ .Values.redis.port }}
    targetPort: {{ .Values.redis.port }}
    nodePort: 31357
    protocol: TCP
  selector:
    helm.stargate.spaceone.dev/service: redis
{{ end }}